<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <!-- Bootstrap Core CSS -->
  <link href="{{ asset('assets/css/lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
  {% block javascripts %}
  {% endblock %}
</head>


<body class="fix-header fix-sidebar">
<div id="main-wrapper">
  <div class="row">
    <div class="w-100">
      <div class="row">
        <div class="col-md-6">
          <div
               style="background-image: url({{ asset('assets/images/bg.jpg') }});height: 100vh;"
          ></div>
        </div>
        <div class="col-md-6 align-self-center">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>